@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Roboto Mono", "sans-serif", monospace;
  background-color: #f7f8f8;
  padding-left: 8%;
  padding-right: 8%;
}

#header {
  position: relative;
  background-color: #f7f8f8;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

#main-logo {
  display: block;
  height: 100%;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  user-select: none;
}

#header-text-works {
  position: absolute;
  left: 20px;
  top: 100px;
  cursor: pointer;
  user-select: none;
}

#header-text-contact {
  position: absolute;
  left: 120px;
  top: 100px;
  cursor: pointer;
  user-select: none;
}

#facebook-logo {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 100px;
  right: 90px;
  cursor: pointer;
  user-select: none;
}

#twitter-logo {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 100px;
  right: 55px;
  cursor: pointer;
  user-select: none;
}

#whatsapp-logo {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 100px;
  right: 20px;
  cursor: pointer;
  user-select: none;
}

h1 {
  color: black;
  text-align: center;
}

#epicode-student {
  font-size: 0.7em;
  font-weight: 300;
}

#future-dev {
  font-size: 0.9em;
  font-weight: 400;
}

#my-name {
  font-size: 1.3em;
}
